{% comment %}
  Placeholder to allow defining custom head, in principle, you can add anything here, e.g. favicons:

  1. Head over to https://realfavicongenerator.net/ to add your own favicons.
  2. Customize default _includes/custom-head.html in your source directory and insert the given code snippet.
{% endcomment %}


<style type="text/css" media="screen, print">
    @font-face {
        font-family: "Computer Modern";
        src:
            local("Computer Modern"),
            url('../../assets/fonts/woff/cmunrm-webfont.woff') format("woff"),
            url('../../assets/fonts/eot/cmunrm-webfont.eot') format("embedded-opentype"),
            url('../../assets/fonts/otf/cmunrm.otf') format("opentype"),
            url('../../assets/fonts/ttf/cmunrm-webfont.ttf') format("truetype"),
            url('../../assets/fonts/svg/cmunrm-webfont.svg') format("svg");
    }
    body { font-family: "Computer Modern", serif }
</style>


<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML">
  //Foo.
</script>
